{% extends 'base.html.twig' %}

{% block nav %}
    {% if app.user %}
        
    {% endif %}
{% endblock %}

{% block body %}
    <main class="btnaccueil">
        <div id="btnclignotant">
            <a href="{{ path('inscription_sortir') }}"><button class='glowing-btn'><span class='glowing-txt'>I<span class='faulty-letter'>ns</span>cription</span></button></a>
        </div>
        <div id="btnclignotant">
            <a href="{{ path('login_sortir') }}"><button class='glowing-btn'><span class='glowing-txt'>C<span class='faulty-letter'>on</span>nection</span></button></a>
        </div>
    </main>

{% endblock %}

{% block title %}

{% endblock %}


