{% extends 'base.html.twig' %}

{% block body %}
    <div id="inscription">
        <a href=""><button>Inscription</button></a>
    </div>
    <div id="connection">
        <a href=""><button>Connection</button></a>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

