@import url(FontFamily.css);
/*@import url(LightMode.scss);*/
/*@import url(DarkMode.scss);*/
@import "accueil.css";
@import "AcceuilUtilisateur.css";
@import url(Base.css);
@import url(Login.css);
@import url(Register.css);
@import url(bouttontoogle.scss);
@import "enregistrerSortie.css";
@import "ajouterLieu.css";

// Creation des bloc lumineux en
// ---------------------------
// Card
// ---------------------------

@for $i from 0 through 8 {
  div:nth-child(9n + #{$i}) {
    border-color: adjust-hue(#B8B9E6, $i * 40);
  }
}

// ---------------------------
// Spaces
// ---------------------------
// Normalized spaces :
// 2, 4, 6, 8, 12, 16, 20, 24, 32, 64, 96, 128, ...
// 10px = 1rem

$normalizedSpaces: 2, 4, 6, 8, 12, 16, 20, 24, 32, 48, 64;
$pxToRem: 10;

@each $space in $normalizedSpaces {

  // Margin
  .m-#{$space} {
    margin: ($space / $pxToRem) + rem;
  }

  .mt-#{$space} {
    margin-top: ($space / $pxToRem) + rem;
  }

  .mb-#{$space} {
    margin-bottom: ($space / $pxToRem) + rem;
  }

  .ml-#{$space} {
    margin-left: ($space / $pxToRem) + rem;
  }

  .mr-#{$space} {
    margin-right: ($space / $pxToRem) + rem;
  }

  // Padding
  .p-#{$space} {
    padding: ($space / $pxToRem) + rem;
  }

  .pt-#{$space} {
    padding-top: ($space / $pxToRem) + rem;
  }

  .pb-#{$space} {
    padding-bottom: ($space / $pxToRem) + rem;
  }

  .pl-#{$space} {
    padding-left: ($space / $pxToRem) + rem;
  }

  .pr-#{$space} {
    padding-right: ($space / $pxToRem) + rem;
  }
}

// ---------------------------
// Others
// ---------------------------

.container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0 0 20px 5px var(--blanc), inset 0 0 20px 5px var(--sable);
}

//Input au sein du formulaire de création de compte :

$primary: var(--roseviolet);
$secondary: var(--roseviolet);
$white: var(--sable);
$gray: var(--blanc);
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--bleu);
  outline: 0;
  color: var(--blanc);
  font-size: 1.5rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.5rem;
    cursor: text;
    top: 20px;
  }
}

@for $i from 0 through 8 {
  .form__field:nth-child(9n + #{$i}) {
    color: adjust-hue(#faf8dc, $i * 40);
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.2em;
  color: var(--pink);
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary) 1;
  //border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
