#details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 40em;

}

.liste_sortie_participation{
    list-style: none;
    color: var(--pink), var(--orange);
}

.afficherdetailprofil{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
}

.fromu1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    height: 25em;
    width: 75%;
}

.fromu1 h4{
    text-transform: uppercase;
    color: var(--bleu);
}

.listeparticipation li{
    list-style: none;
    color: var(--blanc);
}

.listeorga li{
    list-style: none;
    color: var(--blanc);
}