@font-face {
    font-family: 'TOMMY';
    src: url("../Font/made_tommy/MADE TOMMY Regular_PERSONAL USE.otf");
}
@font-face {
    font-family: 'TOMMY_MEDIUM';
    src: url("../Font/made_tommy/MADE TOMMY Medium_PERSONAL USE.otf");
}
@font-face {
    font-family: 'TOMMY_Bold';
    src: url("../Font/made_tommy/MADE TOMMY Bold_PERSONAL USE.otf");
}
@font-face {
    font-family: 'TOMMY_BOLD_OUTLINE';
    src: url("../Font/made_tommy/MADE TOMMY Bold Outline_PERSONAL USE.otf");
}