.registerbox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: linear-gradient(var(--blanc), transparent);
    box-sizing: border-box;
    border-radius: 10px;
}

.registerbox h2 {
    margin: 0 0 30px;
    padding: 0;
    color: var(--bleu);
    text-align: center;
    text-transform: uppercase;
}

.registerbox .user-boxregister {
    position: relative;
}

.registerbox .user-boxregister input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--bleu);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--pink);
    outline: none;
    background: transparent;
}
.registerbox .user-boxregister label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--bleu);
    pointer-events: none;
    transition: .5s;
}

.registerbox .user-boxregister input:focus ~ label,
.registerbox .user-boxregister input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--bleu);
    font-size: 12px;
}

.registerbox form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color:  var(--bleu);
    background-color: transparent;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border-radius: 7px;
}

.registerbox button:hover {
    background:  transparent;
    color:  var(--dark);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--blanc),
    0 0 25px var(--bleu),
    0 0 50px var(--pink),
    0 0 100px var(--sable);
}

.registerbox button span {
    position: absolute;
    display: block;
}

.registerbox button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--roseviolet));
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.registerbox button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--bleu));
    animation: btn-anim2 1s linear infinite;
    animation-delay: 2s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.registerbox button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--pink));
    animation: btn-anim3 1s linear infinite;
    animation-delay: 1s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.registerbox button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--sable));
    animation: btn-anim4 1s linear infinite;
    animation-delay: 2s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}