.submit_register button{
    padding: 25px 30px;
    background-color: transparent;
    color: var(--blanc);
    font-weight: bold;
    border: var(--sable);
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

#register_h2{
    color: var(--blanc);
    text-transform: uppercase;
}